ion-card-title {
    font-weight: bold;
    font-size: 22px;
    color: #152983;
}

ion-card-subtitle {
    color: black;
    font-size: 18px;
}

ion-button{
    --ion-background-color:  rgb(49, 71, 199);
    --ion-text-color: white;
}