<ion-header class="pages-header">
  <ion-toolbar>
    <ion-title>Quizzes</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Course 1: Getting to know LAZATECH EDUCATE AND ITS SOCIAL MEDIA COUNTERPART</ion-card-title>
      <ion-card-subtitle>Lesson 1: An introduction to Treasury XRPL</ion-card-subtitle>
      <ion-card-subtitle>Lesson 2: Why has Lazatech made the XRPL it’s home? </ion-card-subtitle>
      <ion-card-subtitle>Lesson 3: Lazatech Social Media Website </ion-card-subtitle>
      <ion-card-subtitle>Lesson 5: Lazatech Educate</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>Question {{i+1}}: {{item.questionText}}</ion-card-title>
    </ion-card-header>
   -->
    <ion-card-content>
      <!-- *ngFor="let item of qstn; let i = index;" -->
      <ion-button *ngIf="!show" (click)="take()" color="success">Take Quiz</ion-button>
      <ion-list *ngIf="show">
          <ion-radio-group [(ngModel)]="qAnswer" >
            <ion-list-header>
              <ion-label>Question: {{questions.questionText}}</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>{{questions.option1}}</ion-label>
              <ion-radio slot="start" [value]="questions.option1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>{{questions.answer}}</ion-label>
              <ion-radio slot="start" [value]="questions.answer"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>{{questions.option2}}</ion-label>
              <ion-radio slot="start" [value]="questions.option2"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>{{questions.option3}}</ion-label>
              <ion-radio slot="start" [value]="questions.option3"></ion-radio>
            </ion-item>

            <ion-button expand="block" (click)="answer()" color="success"> confirm </ion-button>
          </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
</ion-content>