<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <app-err-message [field]="form.get('email')" message="Email is Required" error="required"></app-err-message>
        <app-err-message [field]="form.get('email')" message="Email is Invalid" error="email"></app-err-message>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <app-err-message [field]="form.get('password')" message="Password is Required" error="required"></app-err-message>

        <ion-button type="submit" size="full" color="success" [disabled]="!form.valid" (click)="login()"><ion-icon name="log-in-outline"></ion-icon> Login</ion-button>
        <ion-button size="full" fill="clear" color="success" (click)="register()">Register</ion-button>

      </ion-card-content>
    </ion-card>
    </form>
  </div>
</ion-content>
