<ion-menu menuId="main-menu" content-id="main">
    <ion-header>
        <ion-toolbar>
            <ion-title>Lazatech Educate</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="home" routerLinkActive="selected">
                    <ion-icon name="home-outline" slot="start"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-item>
            </ion-menu-toggle>
  
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="lazatech-courses" routerLinkActive="selected">
                    <ion-icon name="school-outline" slot="start"></ion-icon>
                    <ion-label>Lazatech Courses</ion-label>
                </ion-item>
            </ion-menu-toggle>
  
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="quiz" routerLinkActive="selected">
                    <ion-icon name="book-outline" slot="start"></ion-icon>
                    <ion-label>Course Quizzes</ion-label>
                </ion-item>
            </ion-menu-toggle>
  
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="my-token-balance" routerLinkActive="selected">
                    <ion-icon name="wallet-outline" slot="start"></ion-icon>
                    <ion-label>My Token Balance</ion-label>
                </ion-item>
            </ion-menu-toggle>
  
            <ion-menu-toggle>
                <ion-item routerDirection="root" routerLink="my-payouts" routerLinkActive="selected">
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    <ion-label>My Payouts</ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle>
                <ion-item button (click)="logout()">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    <ion-label>Logout</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>