<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <app-err-message [field]="form.get('email')" message="Email is Required" error="required"></app-err-message>
        <app-err-message [field]="form.get('email')" message="Email is Invalid" error="email"></app-err-message>

        <ion-button type="submit" size="full" color="success" [disabled]="!form.valid" (click)="forgot()"><ion-icon name="key-outline"></ion-icon> Reset Password</ion-button>
        <ion-button class="inherit" size="full" color="success"  fill="clear" (click)="back()"><ion-icon name="log-in-outline"></ion-icon> Back to Login</ion-button>
      </ion-card-content>
    </ion-card>
    </form>
  </div>
</ion-content>