<ion-header class="pages-header">
  <ion-toolbar>
    <ion-title>Lazatech Courses</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="description">
    <p>Welcome to the Lazatech Educate website. All of the available courses are mentioned here. You are free to enroll in any course you like. You are also free to select the lessons you desire to complete. You may learn at your own speed, and you can track your progress and earnings using the navigation bar above.</p>						</div>


<div class="elementor-widget-container">
    <p><b>CONTRIBUTORS WANTED:</b> If you would like to help develop our curriculum by participating in lesson planning and writing then please contact us.</p>						</div>

<br/><br/>

<section class="course-content">
<section class="entry">

    <h3 class="course-title"><a href=" ">Getting to know Lazatech Educate</a></h3><span class="course-author">by <a href=" " title="Lazatech Educate">Lazatech Educate</a></span><div class="sensei-course-meta"><span class="course-lesson-count">5 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Earn</a></span><span class="course-lesson-progress"></span></div>

<p class="course-excerpt ">

  Complete this course if you want to get the most out of Lazatech Educate and our ecosystem, since it covers the project as a whole as well as the suite of utilities we are introducing to the XRPL.
</p>
<ion-button (click)="go()"> Take this course </ion-button>
</section>
</section>

<br/>

<section class="course-content">
<section class="entry">

<h3 class="course-title"><a href=" ">Learn to Burn</a></h3><span class="course-author">by <a href=" " title="Lazatech Educate">Lazatech Educate</a></span><div class="sensei-course-meta"><span class="course-lesson-count">5 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Burn</a></span><span class="course-lesson-progress">5 of 5 lessons completed</span></div>

<p class="course-excerpt">

  This Know how to Burn course gives an insight into burning on the blockchain. What it is, its characteristics and benefits.
  Please Note: This course’s lessons are Learn to BURN lessons. Meaning that by completing the quiz for each lesson in this course you will be contributing to a reduction in the supply of $LZT but as a result you will not receive $LZT for this lesson.
  </p><p class="read-more"> <a class="" href=" "> <span class="screen-reader-text">Learn to Burn</span> Read More »</a></p>
<p></p>

</section> <!-- section .entry -->
</section> <!-- section .course-content -->

<br/>

<section class="course-content">
<section class="entry">

<h3 class="course-title"><a href=" ">Protect Yourself – The importance of DYOR</a></h3><span class="course-author">by <a href=" " title="Lazatech Educate">Lazatech Educate</a></span><div class="sensei-course-meta"><span class="course-lesson-count">11 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Earn</a></span><span class="course-lesson-progress">11 of 11 lessons completed</span></div>

<p class="course-excerpt">

  DYOR is a popular practice for many. But worry not if you are fresh to the game and eager to fund some promising-looking XRPL startups. Before putting your money where your mouth is, this course will guide you through a 10-point checklist to ensure you've covered all the bases. Otherwise, you will always be putting your money where their mouth is, and it will likely end up in their pocket, not yours.
</p>
</section> <!-- section .entry -->
</section> <!-- section .course-content -->

<br/>

<section class="course-content">
<section class="entry">

<h3 class="course-title"><a href=" ">Market Skills &amp; Trading</a></h3><span class="course-author">by <a href=" " title="Treasury XRPL">Treasury XRPL</a></span><div class="sensei-course-meta"><span class="course-lesson-count">19 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Earn</a></span><span class="course-lesson-progress">17 of 19 lessons completed</span></div>

<p class="course-excerpt">

  In this thorough course, we examine every element of trading on XRPL. From market fundamentals to blockchain principles, as well as learning to analyze charts, trendlines, and more.

  This module offers a good beginner’s guide to the crypto market.
  
</p>

</section> <!-- section .entry -->
</section> <!-- section .course-content -->

<br/>

<section class="course-content">
<section class="entry">

<h3 class="course-title"><a href=" ">The Blockchain and NFTs</a></h3><span class="course-author">by <a href=" " title="Lazatech Educate">Lazatech Educate</a></span><div class="sensei-course-meta"><span class="course-lesson-count">12 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Earn</a></span><span class="course-lesson-progress">12 of 12 lessons completed</span></div>

<p class="course-excerpt">

  If you are unfamiliar with Non Fungible Tokens (NFTs), then perhaps this course will equip you with the necessary knowledge to get started.
</p>


</section> <!-- section .entry -->
</section> <!-- section .course-content -->

<br/>

<section class="course-content">
<section class="entry">

<h3 class="course-title"><a href=" ">XRPL Basics</a></h3><span class="course-author">by <a href=" " title="Lazatech Educate">Lazatech Educate</a></span><div class="sensei-course-meta"><span class="course-lesson-count">6 Lessons</span><span class="course-category"> <a href=" " rel="tag">Learn to Earn</a></span><span class="course-lesson-progress">6 of 6 lessons completed</span></div>

<p class="course-excerpt">

  If you are new to the XRPL, this course will serve as an excellent introduction.
  This session provides a comprehensive introduction to the XRPL, XRP, and blockchain technology.
  
</p>

</section> <!-- section .entry -->
</section> <!-- section .course-content -->

</ion-content>
