ion-content {
    --padding-start: 50px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

div.elementor-widget-container {
    background-color: #152983;
    color: rgb(180, 251, 253);
    padding: 5px;
    padding-left: 50px;
    border-radius: 10px;
    font-size: 18px;
}

div.description {
    font-size: 20px;
}

section.course-content {
    padding: 10px;
    padding-left: 20px;
    color: white;
    background-color: rgb(3, 69, 145);
}

/*section.course-content:hover {
    color: white;
    background-color:#236fb6;
    a[href]{
        color:#bbf8e9;
    }
}*/

span {
    margin: 6px;
}

h3 {
    font-weight: bolder;
    font-size: 28px;
}

a {
    color: #2dffe3;
}