ion-content {
    --padding-start: 50px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

div.elementor-widget-container {
    background-color: #152983;
    color: rgb(208, 250, 252);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: justify;
}

div.description {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
}

section.course-content {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: rgb(3, 69, 145);

    p {
        text-align: justify;
        line-height: 1.5;
    }

    span {
        margin: 6px;
    }
    
    h3 {
        font-weight: bolder;
        font-size: 28px;
    }
    
    a {
        color: #2dffe3;
    }
}

/*section.course-content:hover {
    color: white;
    background-color:#236fb6;
    a[href]{
        color:#bbf8e9;
    }
}*/