@media (max-width: 800px) {
    .flex-center {
      flex-direction: column;
    }
  }
.flex-center{
  height: auto;
}
ion-card:hover{
  cursor: pointer;
  transform: scale(0.85);
  transition: 0.5s;
  box-shadow: 10px 10px 5px lightblue;
}

.search{
  --background: white;
  --color: black;
  --icon-color: black;
  --border-radius: 20px;
}

ion-button{
  --color: black;
}