<ion-header class="pages-header">
  <ion-toolbar>
    <ion-title>Store</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="flex-center">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="6" sizeXs="12" *ngFor="let image of merchs">
          <ion-card (click)="test()">
            <img [src]="image" alt="Lazatech Merch">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>