<ion-header class="pages-header">
  <ion-toolbar>
    <ion-title>Token Balance</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-card-title class="title">This Token can be used for purchasing different products from us</ion-card-title>
        </ion-item>

        <ion-item>
          <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
          <ion-card-title>{{user?.userName}}</ion-card-title>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>