<ion-header>
  <ion-toolbar>
    <ion-title>Course 1</ion-title>

    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="course_head">
  <h1> Course 1: Getting to know LAZATECH EDUCATE AND ITS SOCIAL MEDIA COUNTERPART</h1>
  <p>Complete this course if you want to get the most out of Lazatech Educate and our ecosystem, since it covers the project as a whole as well as the suite of utilities we are introducing to the XRPL.</p>
 </div>

 <div class="lesson_head">
  <h2>Lesson 1: An introduction to Lazatech Educate And its Social Media Counterpart</h2>
  <p>The Lazatech Educate ecosystem is based on the XRP blockchain. The Treasury ecosystem now consists of two coins with significantly distinct goals. As Lazatech grows and expands, additional tokens may be issued for a specific function. Our specialized store of value token (think of it as the 'gold' or 'Bitcoin' of our ecosystem) is denoted by the symbol $LZT, while our volatile utility-driven token is denoted by the sign $LAZA.</p>
 </div>

 <div class="lesson_content">
  <b><i>The Lazatech Social Media Website</i></b><br>
  <p>“Laza” is a Hebrew word which means “God has helped” and “tech” is a short word for technology. This name shows the goal of the system which is to aid students in their online learning and provide a helping online community to answer their queries and acquire more knowledge.  The platform intends to offer a plagiarism checker inside the application to ensure the credibility and uniqueness of the information posted in it. And most importantly, a user-friendly and engaged tech community aims to help each other on their college voyage. The platform's initial functions are blog, forum, polls, and event creation. These functions are under development, and the developers may add other functions that they see fit for the system, which can help the users to have a straightforward approach in learning computer programming tools and codes.  </p>
  <p>An awarding system based on ‘Likes’ obtained from other users and the questions posted will have an assigned token award for the person who can give an answer for it. These processes will be used to encourage students to help their fellow students inside the platform. The initial plan for this component is the highest person who had the most likes would receive a $LZT token from the xrp ledger which they can be used in their future projects to help them on their expenses. Coil web monetization integration would also be used in the Lazatech platform for the acquisition of funds for the awards. Coil provides an alternative to traditional paid advertising for online monetization. As consumers consume content, Coil employs the interledger protocol (ILP) to broadcast micropayments. The payment channels of the XRPL are a suitable method for settling these micropayments quickly and cheaply. </p>
 
  <h3>$LZT </h3>
  <p>Supply – 100 million tokens plan to create, the token is planned to be blackholed (impossible to create more).</p>
  <p>Use case - The purpose of $LZT is to hold the value of our ecosystem and serve as a sturdy token on which to develop. Holding  $LZT allows our holders access to the whole ecosystem without subjecting their primary investment to extreme volatility. Users are rewarded with $LZT tokens for answering academic-related questions on Lazatech's social media platforms . $LZT is also distributed to users of Lazatech Educate, our 'Learn to Earn' platform if they correctly answered the quizzes on every courses.</p>

  <h3>$LAZA</h3>
  <p>Supply- Currently 25 million tokens planned to create, the token is planned to be not blackholed (it is possible to create more tokens) </p>
  <p>Use Case – $LAZA is the volatile and powerful utility token within our ecosystem. It allows Lazatech to offer riskier and rewarding investment opportunities for those who wish to be involved. Holders of $LZT are rewarded with free $LAZA every month, which allows them essentially free access to our future projects. </p>

 </div>

 <div class="lesson_head">
  <h2> Lesson 2: What is Burning </h2>
  <p> Burning is a cryptocurrency term for the depletion of a coin's or token's supply. When tokens are burnt, they are irretrievable and permanently lost. They are then transferred to an inaccessible wallet and are afterwards presumed destroyed. As stated earlier, supply is a crucial factor in determining the value of an item. When demand and supply are equal, an item with a lesser supply will be more expensive because those who wish to obtain it will be required to pay more. </p>
 </div>

 <div class="lesson_content">
  <p> Burning can be accomplished in a number of ways and for various reasons, but it is always intended to result in a price increase. Not only is the quantity reduced, but precise and focused marketing might motivate new investors to hold on to the token/coin if they watch the development team doing burns.</p>
  <p> Vitalik, Binance, and Stellar are accountable for a few of the most notable incidents of burns. The SHIB creators provided Vitalik Buterin fifty percent of the Shiba Inu supply, of which he burned ninety percent and gave away the remaining ten percent. Binance has undertaken quarterly burning of BNB since 2017 and will continue to do so until 50% of the supply has been spent. The Stellar Development Foundation consumed more than fifty percent of Stellar's supply (55 Billion XLM). </p>
 <p>As with any investment in the bitcoin industry, proceed with caution when investing in a project promising a burn, particularly with smaller, lesser-known enterprises. There are several examples of projects that transferred their tokens to a different wallet and then purported to "burn" them. In the meanwhile, the team has complete access to the tokens, so driving up the price and earning publicity.</p>
 </div>
 
 <div class="lesson_head">
  <h2> Lesson 3: How are Tokens Burned? </h2>
  <p> As explained in the last lecture, burning tokens involves transferring them to an unreachable address. This course will cover how to implement this on any blockchain, including XRPL.</p> 
 </div>

 <div class="lesson_content">
  <p> ETH, BSC etc. </p>
  <p> On the vast majority of blockchains, destroying a token is a simple process. The easiest technique is to use Google or Twitter to search for a publicly advertised burn location. For example, the most frequent burn address on the Ethereum blockchain is 0x0000000000000000000000000000000000000000000000000000dEaD. Create your own address without retaining any of the keys or phrases, then send your tokens to it. There are further websites that enable the drafting of contracts that ensure the safety and legality of the burn; https://burn.fish/ is an example and offers an excellent description of the site's concept and code. </p><br/>
  <b><i> XRPL  </i></b>
  <p> In some ways, the XRPL makes burning extremely easy, yet in others, amateurs may experience difficulty. The 'trustline' is the fundamental difference between most blockchains and the XRPL; an address cannot get a token if it does not have a trustline associated with it. If they did not have a trustline established to your token prior to being blackholed (losing account access), they would not be able to receive it at the public burn addresses. However, each token on the XRPL has an issuer address, which is the address used to distribute tokens throughout the ledger. If this issuer address is blackholed (see prior lectures for an explanation of why this is done), you have all the tools necessary to burn tokens. </p>
  <p> Now that we've established that tokens may be burnt by sending them back to their issuer, let's test this in XUMM... </p>
  <p> It does not permit it! XUMM protects users from transferring tokens to a blackholed address, which is a great precaution in 99.9 percent of situations, but not when tokens are to be burned. There are two ways to overcome this restriction: sending a new program, such as XRP Toolkit, to the issuer, or, for XUMM purists, utilizing an xApp known as a 'token trasher'. The token trasher has the constraint that you must discard the ENTIRE number of tokens you wish to destroy; you cannot pick a partial quantity. </p>
  <p> You now have a comprehensive grasp of token burning. It is generally not recommended to burn your own tokens unless you fully understand the consequences and hazards. By burning tokens, you lose access to them, and as Do Kwon, the founder of LUNA, stated, "You're essentially burning money."</p> 
 </div>

 <div class="lesson_head">
  <h2> Lesson 4: Different Types of Burns </h2>
  <p> There are numerous methods for burning tokens, the majority of which depend on the particulars of each project and the objectives of the burn. Other tokens/coins rely on burning as a fundamental utility mechanism. Here are some of the most common types of burns: </p>
 </div>
 
 <div class="lesson_content">
  <p> <b>  Undistributed Burn </b>– Destruction of tokens/coins that have never been sold or circulated. This decreases the TOTAL supply of the project, but has no effect on the circulating supply. This indicates that the same quantity of tokens will be made available on the market, with no anticipated price change. These burns are excellent for advertising, but they guarantee a future depletion of resources. </p>
  <p> <b> Buy-back and Burn </b> – An advantageous scenario for investors. The projects acquire their tokens/coins from the market, which increases both volume and price. After all purchases are made, the entire amount is burned. This reduces the total and circulating supply, which should theoretically lead to a higher price. </p>
  <p> <b> Developer Wallet Burn </b> – Similar to the undistributed burn, with the exception that the developer's wallet provides the tokens. This is an additional common marketing strategy that can be used to demonstrate a team's commitment to the project. It has no impact on the Circulating supply but reduces the Total supply. </p>
  <p> <b> Tax/Contract/Fee Burn </b> – Prevalent to ETH and BSC token initiatives, and utilized by multiple currencies, including XRP, as a fee structure. The peak year for tax/contract burning initiatives like Safemoon, wherein the purchase or sale of a token results in its destruction, was 2021. These forms of tokens have spread across the globe and are still in use. XRP incurs negligible fees for all blockchain transactions, together with buy, sell, sign, transmit, etc. Instead of being transmitted to Ripple, this fee is burned and removed from circulation. This is true for numerous blockchains; feel free to investigate further! </p>
  <p> <b> Learn to Burn </b> – Lazatech Educate's cutting-edge approach to burning is a world first in the field of crypto education! LZT incentives are instead sent to a blackholed address using the same technique as our Learn to Earn software. This means that each time you complete a lesson, you help reduce the total amount of LZT!
 Undoubtedly, there are a number of additional obscure and lesser-known techniques, but these are the most prevalent and widely used in the cryptocurrency industry.</p>
 </div>

 <div class="lesson_head">
  <h2> Lesson 5: Crypto Quiz </h2>
  <p> Thank you for understanding how to burn $LZT tokens as a Lazatech Community member. We hope that you have gained new knowledge from our academy and cannot wait to offer you additional high-quality courses. The final component of our Burnathon course is a test of your prior knowledge and research skills. </p>
 </div>

 <div class="lesson_content">
  <p> To access the quiz, please navigate to the side navigation bar and click quiz to open the "Course Quiz" button. </p>
  <p> Best wishes, and thank you once more! </p>
 </div>

</ion-content>
