ion-toolbar {
    color: white;
    --ion-background-color: rgb(49, 71, 199);
}

ion-icon {
    color: white;
}

ion-content {
    --padding-start: 50px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

div.course_head {
    h1 {
        font-weight: bolder;
        color: #152983;
    }

    p {
        text-align: justify;
        background-color: #152983;
        color: rgb(180, 251, 253);
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 1.5;
    }
}

div.lesson_head {
    h2 {
        font-weight: bold;
        color: #152983;
    }

    p {
        line-height: 1.5;
        text-align: justify;
        font-size: 17px;
    }
}

div.lesson_content {
    text-align: justify;
    line-height: 1.5;

    h3 {
        font-weight: bold;
        color: #0f5aaf;
    }

    b {
        color: #0f5aaf;  
        font-size: 22px; 
    }

    b.bullet {
        font-size: 16px;
    }
}