<ion-header>
  <ion-toolbar>
    <ion-title>Course1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1> Course 1: Getting to know LAZATECH EDUCATE AND ITS SOCIAL MEDIA COUNTERPART</h1>
  <p>Complete this course if you want to get the most out of Lazatech Educate and our ecosystem, since it covers the project as a whole as well as the suite of utilities we are introducing to the XRPL.</p>

<h2>Lesson 1: An introduction to Lazatech Educate And its Social Media Counterpart</h2>

<p>  The Lazatech Educate ecosystem is based on the XRP blockchain. The Treasury ecosystem now consists of two coins with significantly distinct goals. As Lazatech grows and expands, additional tokens may be issued for a specific function. Our specialized store of value token (think of it as the 'gold' or 'Bitcoin' of our ecosystem) is denoted by the symbol $LZT, while our volatile utility-driven token is denoted by the sign $LAZA.
</p>

<b> <i>The Lazatech Social Media Website </i></b><br>

   <p>“Laza '' is a Hebrew word which means “God has helped” and ''tech” is a short word for technology. This name shows the goal of the system which is to aid students in their online learning and provide a helping online community to answer their queries and acquire more knowledge.  The platform intends to offer a plagiarism checker inside the application to ensure the credibility and uniqueness of the information posted in it. And most importantly, a user-friendly and engaged tech community aims to help each other on their college voyage. The platform's initial functions are blog, forum, polls, and event creation. These functions are under development, and the developers may add other functions that they see fit for the system, which can help the users to have a straightforward approach in learning computer programming tools and codes.  </p>

  <p>An awarding system based on ‘Likes’ obtained from other users and the questions posted will have an assigned token award for the person who can give an answer for it. These processes will be used to encourage students to help their fellow students inside the platform. The initial plan for this component is the highest person who had the most likes would receive a $LZT token from the xrp ledger which they can be used in their future projects to help them on their expenses. Coil web monetization integration would also be used in the Lazatech platform for the acquisition of funds for the awards. Coil provides an alternative to traditional paid advertising for online monetization. As consumers consume content, Coil employs the interledger protocol (ILP) to broadcast micropayments. The payment channels of the XRPL are a suitable method for settling these micropayments quickly and cheaply. </p>

<h3>$LZT </h3>
  Supply – 100 million tokens plan to create, the token is planned to be blackholed (impossible to create more).

Use case - The purpose of $LZT is to hold the value of our ecosystem and serve as a sturdy token on which to develop. Holding  $LZT allows our holders access to the whole ecosystem without subjecting their primary investment to extreme volatility. Users are rewarded with $LZT tokens for answering academic-related questions on Lazatech's social media platforms . $LZT is also distributed to users of Lazatech Educate, our 'Learn to Earn' platform if they correctly answered the quizzes on every courses.

<h3>$LAZA</h3>

<p>  Supply- Currently 25 million tokens planned to create, the token is planned to be not blackholed (it is possible to create more tokens) </p>

<p>Use Case – $LAZA is the volatile and powerful utility token within our ecosystem. It allows Lazatech to offer riskier and rewarding investment opportunities for those who wish to be involved. Holders of $LZT are rewarded with free $LAZA every month, which allows them essentially free access to our future projects. </p>

</ion-content>
